@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #070a0f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1920px;
    max-height: 2160px;
}

.content2 {
    width: 1462px;
    height: 2160px;
    margin-left: 229px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-size: 22px;
    position: absolute;
    top: 18px;
    bottom: 18px;
    left: 127px;
}

.middle ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 58px;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #e4e9f1;
    text-decoration: none;
}

.link{
    bottom: 22px;
    top: 23px;
    left: 585px;
    right: 844px;
    position: relative;
    padding-bottom: 0.25rem;
    color: #497ac6;
}

.link::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #497ac6 ;
    transition: all 0.3s ease;
}

.link:hover::after{
    width: 100%;
}

#logo{
    color:  #e4e9f1;
}

#name { 
    background: linear-gradient(43deg, #e3f2fd, #bbdefb, #1976d2, #1e88e5, #42a5f5, #64b5f6, #bbdefb, #90caf9, #bbdefb,#e3f2fd);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 15s linear infinite;
    font-weight: 800;
    color: transparent;
    letter-spacing: 0;
    line-height: normal;
    
}

@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.header {
    position: relative;
    width: 1920px;
    height: 74px;
    top: -1px;
    left: -1px;
    background-color: #070a0f;
    box-shadow: 0px 4px 6.7px #ffffff40;
}

.header .container {
    position: absolute;
    width: 1462px;
    height: 74px;
    top: 1px;
    left: 229px;
    
}


.right{
    display: flex;
    position: absolute;
    align-items: center;
    left: 1100px;
    bottom: 22px;
    top: 23px;
}

.btn {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border: 0px solid #497ac6;
    text-transform: uppercase;
    color: #e4e9f1;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
  }
  
.btn::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #070a0f;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}

.btn::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #070a0f;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}
  
.btn:hover::before {
    transform: translateY(-25px);
    height: 0;
}
  
.btn:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
}
  
.btn:hover {
    border: 2px solid #497ac6;
}
  
.btn span {
    position: relative;
    z-index: 3;
}
  
button {
    text-decoration: none;
    border: none;
    background-color: transparent;
}


.info {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    height: 466px;
}

.info .intro {
    margin-top: 158px;
    margin-left: 42px;
    width: 390px;
    height: 149px;
    flex-shrink: 0;
}


.info h1{

    font-size: 40px;
    font-weight: 700;
    line-height: 4rem; 
    color: #e4e9f1;
    line-height: 0.9;
}

.info .bsit {
    color: #e4e9f1;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.info p {
    color: #e4e9f1;
    text-align: justify;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.info .description {
    margin-left: 42px;
    width: 450px;
    height: auto;
}

.info .picture {
    z-index: -1;
    width: 495px; 
    height: 504px; 
    left: 960px; 
    top: -20px; 
    position: absolute; 
    border-radius: 247.50px;

    
}

.info .picture::before {
    content: "<>";
    position: absolute;
    top: 240px;
    left: 53%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}

.content2 .info .aboutme {
    
}

.aboutme {
    color: white;
    width: fit-content;
    height: auto;
    margin-top: 123px;
    margin-left: 42px;
}

.aboutme > p {
    width: 1183px;
    margin-top: 8px;
}

