@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #041C0D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.a:link{
    color: red;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo {
    
    position: absolute;
    top: 13px;
    left: 20px;
}

.middle ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #97FDBA;
    text-decoration: none;
}

.link{
    top: 23px;
    left: 411px;
    cursor: pointer;
    position: relative;
    padding-bottom: 0.25rem;
    color: #97FDBA;
}

.link::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #39E01E ;
    transition: all 0.3s ease;
}

.link:hover::after{
    width: 100%;
}

span {
    font-size: 32px;
    background: linear-gradient(43deg, #d9ed92, #b5e48c, #99d98c, #76c893, #52b69a, #34a0a4, #168aad, #1a759f, #b5e48c,#d9ed92);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 15s linear infinite;
    font-weight: 800;
    color: transparent;
    letter-spacing: 0;
    line-height: normal;
}

@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.header {
    position: relative;
    width: 1922px;
    height: 76px;
    top: -1px;
    left: -1px;
    background-color: #141d17;
    box-shadow: 0px 4px 6.7px #ffffff40;
}

.header .container {
    position: absolute;
    width: 1048px;
    height: 74px;
    top: 1px;
    left: 436px;
    
}


.right{
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 860px;
}

