@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #041C0D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1920px;
    max-height: 2160px;
}



* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-size: 24px;
    position: absolute;
    top: 16px;
    bottom: 18px;
    left: 127px;
}

.middle ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 55px;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #97FDBA;
    text-decoration: none;
}

.link{
    bottom: 22px;
    top: 23px;
    left: 585px;
    right: 844px;
    cursor: pointer;
    position: relative;
    padding-bottom: 0.25rem;
    color: #97FDBA;
}

.link::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #39E01E ;
    transition: all 0.3s ease;
}

.link:hover::after{
    width: 100%;
}

#logo{
    color:  #97FDBA;
}

#name { 
    background: linear-gradient(43deg, #d9ed92, #b5e48c, #99d98c, #76c893, #52b69a, #34a0a4, #168aad, #1a759f, #b5e48c,#d9ed92);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 15s linear infinite;
    font-weight: 800;
    color: transparent;
    letter-spacing: 0;
    line-height: normal;
    
}

@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.header {
    position: relative;
    width: 1920px;
    height: 74px;
    top: -1px;
    left: -1px;
    background-color: #141d17;
    box-shadow: 0px 4px 6.7px #ffffff40;
}

.header .container {
    position: absolute;
    width: 1462px;
    height: 74px;
    top: 1px;
    left: 229px;
    
}


.right{
    display: flex;
    position: absolute;
    align-items: center;
    left: 1100px;
    bottom: 22px;
    top: 23px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border: 0px solid #97FDBA;
    text-transform: uppercase;
    color: #97FDBA;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
  }
  
.btn::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #141d17;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}

.btn::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #141d17;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}
  
.btn:hover::before {
    transform: translateY(-25px);
    height: 0;
}
  
.btn:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
}
  
.btn:hover {
    border: 2px solid #97FDBA;
}
  
.btn span {
    position: relative;
    z-index: 3;
}
  
button {
    text-decoration: none;
    border: none;
    background-color: transparent;
}


.info {

    width: 1920px;
    height: 800px;
}

.info .intro {
    margin-top: 158px;
    margin-left: 271px;
    width: 390px;
    height: 149px;
    flex-shrink: 0;
}


.info h1{

    font-size: 40px;
    font-weight: 700;
    line-height: 4rem; 
    color: #97FDBA;
    line-height: 0.9;
}

.info .bsit {
    color: rgba(151, 253, 186, 0.8);
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.info p {
    color: #96FCB9;
    text-align: justify;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info .description {
    
    margin-left: 271px;
    width: 450px;
    height: 56px;
}

